$jet: #333333ff;
$aquamarine: #9fffcbff;
$pale-cerulean: #95b8d1ff;
$light-green: #7ae582ff;
$light-pink: #edafb8ff;
$opera-mauve: #af7595ff;


body{
    display: block;
    background-color: $jet;
}

h1{
    display: block;
    width: 300px;
    margin: 0 auto;
    color: $light-pink;
}

.bigPlayerBox{
    display: flex;
    background-color: $light-pink;
    height: 50px;
    width: 50px;
}