$pale-cerulean: #95b8d1ff;
$opera-mauve: #af7595ff;
$aquamarine: #9fffcbff;
$jet: #333333ff;
$dark-purple: #462749ff;
$snow: #f7f0f0ff;


body{
    display: block;
    background-color: $jet;
    overflow: hidden;
}

h1{
    display: block;
    width: 300px;
    margin: 0 auto;
    color: $pale-cerulean;
}

.playerinput{
    height: 2em;
    width: 13em;
    margin:5px auto;
    color:$jet;
    background-color: $aquamarine;
    border:none;
}

#playerbox{
    margin:30px auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: $opera-mauve;
}

.btn{
    width: fit-content;
    font-size: 3em;
    text-shadow: 0px 2px 5px black;
    margin: 0 auto;
    color: $snow;
    background-color: $pale-cerulean;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 2px 10px black;
}