$jet: #333333ff;
$aquamarine: #9fffcbff;
$pale-cerulean: #95b8d1ff;
$light-green: #7ae582ff;
$light-pink: #edafb8ff;
$opera-mauve: #af7595ff;


body{
    display: block;
    background-color: $jet;
    overflow: hidden;
}

h1{
    display: block;
    width: 300px;
    margin: 0 auto;
    color: $light-pink;
}

.playerinput{
    height: 2em;
    width: 13em;
    margin:5px auto;
    color:$jet;
    background-color: $aquamarine;
    border:none;
}

#playerbox{
    margin:30px auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: $light-green;
}