$pale-cerulean: #95b8d1ff;
$opera-mauve: #af7595ff;
$aquamarine: #9fffcbff;
$jet: #333333ff;
$dark-purple: #462749ff;
$snow: #f7f0f0ff;


#next-btn {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: center;
    left: 50%;
    transform: translate(-50%);

}