$pale-cerulean: #95b8d1ff;
$opera-mauve: #af7595ff;
$aquamarine: #9fffcbff;
$jet: #333333ff;
$dark-purple: #462749ff;
$snow: #f7f0f0ff;

h1 {
  font-size: 3.3em;
}

#prev-btn {
  visibility: hidden;
}

#player-box {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: $opera-mauve;
}

.player-input {
  font-size: 2em;
  height: 2em;
  width: 75%;
  margin: 1rem auto;
  color: $jet;
  background-color: $aquamarine;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

::placeholder {
  color: $jet;
  opacity: 0.8;
}

.player-input,
#player-box {
  border-radius: 6px;
}

main {
  //position: fixed;
  //display: flex;
  //flex-direction: row;
  //width: 50vw;
  //height: 50vh;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  //overflow-y: scroll;
}

main .btn {
  //   position: fixed;
  //   aspect-ratio: 1 / 1;
  //   width: 1em;
  //   border-radius: 50%;
  //   top: 35%;
  //   z-index: 1;
  //   color: $jet;
  //   font-size: 6rem;
  //   line-height: 1em;
  //   display: flex;
  //   padding: 0;
  //   align-content: center;
  width: 2em;
  height: 2em;
  aspect-ratio: 1/1;
  margin: auto;
  border-radius: 50%;
}

img {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 1em;
}
