$pale-cerulean: #95b8d1ff;
$opera-mauve: #af7595ff;
$aquamarine: #9fffcbff;
$jet: #333333ff;
$dark-purple: #462749ff;
$snow: #f7f0f0ff;


#grid-container {
    display: flex;
    width: 85vw;
    height: max-content;
    margin: 0 auto;
    overflow-x: scroll;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $pale-cerulean;
    color: $jet;
    font-size: 2rem;
    aspect-ratio: 1;
    width: 20vw;
    height: 20vw;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    border-radius: 50%;
    //box-shadow: 0px 2px 10px black;
}

p {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: max-content;
    font-size: 35vh;
    color: $aquamarine;
    font-weight: bold;
}

//navigation bara
#next-btn {
    visibility: hidden;
}

#end-btn {
    width: max-content;
}