$pale-cerulean: #95b8d1ff;
$opera-mauve: #af7595ff;
$aquamarine: #9fffcbff;
$jet: #333333ff;
$dark-purple: #462749ff;
$snow: #f7f0f0ff;

h1 {
    position: absolute;
    color: $aquamarine;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    justify-content: center;
    width: fit-content;
}

.map-textbox{
    width:20%;
    margin:0 auto;
    background-color: $dark-purple;
    justify-content: center;
}

#next-btn {
    visibility: hidden;
}

#end-btn {
    width: max-content;
}