$pale-cerulean: #95b8d1ff;
$opera-mauve: #af7595ff;
$aquamarine: #9fffcbff;
$jet: #333333ff;
$dark-purple: #462749ff;
$snow: #f7f0f0ff;

h1 {
    position: absolute;
    color: $aquamarine;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    justify-content: center;
    width: fit-content;
}

.nav-btns {
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    position: fixed;
    display: flex;
    width: 100vw;
}

#prev-btn {
    margin-left: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}