$pale-cerulean: #95b8d1ff;
$opera-mauve: #af7595ff;
$aquamarine: #9fffcbff;
$jet: #333333ff;
$dark-purple: #462749ff;
$snow: #f7f0f0ff;

body {
    overflow-y: auto;
}

#next-btn {
    visibility: hidden;
}

main {
    display: flex;
    width: 50vw;
    height: max-content;
    margin: 0 auto;
    margin-bottom: 1em;
    flex-direction: column;
    font-size: 1.5vw;
    color: $snow;
}

#end-section{
    margin-bottom: 4em;
}

h1 {
    font-size: 5vw;
    margin: 2rem auto 0 auto;
    width: max-content;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin: 3em 0 0;
}

li {
    margin-top: 1em;
}

li:first-of-type {
    margin: 0;
}