$pale-cerulean: #95b8d1ff;
$opera-mauve: #af7595ff;
$aquamarine: #9fffcbff;
$jet: #333333ff;
$dark-purple: #462749ff;
$snow: #f7f0f0ff;


body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    text-shadow: 0px 0px 10px black;
}

h1{
    position: absolute;
    width: max-content;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    font-size: 4em;
    margin-top: -12rem;
    color: $snow;
    text-decoration: underline;
    text-decoration-color: $pale-cerulean;
}

.body-wrap{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.timer-wrap{
    color: $aquamarine;
    font-size: 8em;
    padding: 0;
    line-height: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content:flex-end;
    width: 2.3em;
}

.timer-el{
    margin: 0;
    line-height: 1.2em;
}

.timer-el:nth-child(2) {
    color: $snow;
}

#next-btn {
    margin-top: 12rem;
    width: 18rem;
    font-weight: bold;
    height: 4rem;
}

#prev-btn {
    position: fixed;
    top: 92%;
    margin-left: 2rem;
    font-weight: bold;
    font-size: 2em;
    width: 7em;
    background-color: $opera-mauve;
}